---
layout: page
title: "About Me"
description: "平凡的我们终将回到平凡的世界"
header-img: "img/jassica/xixi2.jpg"
multilingual: true
---

<!-- Language Selector -->
<select class="sel-lang" onchange="onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>




<!-- 添加 gitment 评论 -->
<section id="comments">
	<div id="commentContainer"></div>
</section>

<script src="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/gitment.browser.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/default.css"/>

<script>
        var gitment = new Gitment({
            id: '<%= page.date %>',
            owner: 'Tcloser',
            repo: 'blog-gitment',
            oauth: {
                client_id: '8c912afc7db6b20b8188',
                client_secret: 'b698339d98f3a74b82d4114186a69906f1dbb3d0',
            },
        })
gitment.render('commentContainer')
</script>